In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import random
google = "google.csv"
Google = pd.read_csv(google)
Google = Google[['Category', 'Rating', 'Reviews', 'Price']]
Google.head(3)

         Category  Rating Reviews Price
0  ART_AND_DESIGN     4.1     159     0
1  ART_AND_DESIGN     3.9     967     0
2  ART_AND_DESIGN     4.7   87510     0

In [18]:
apple = 'apple.csv'
Apple = pd.read_csv(apple)
Apple = Apple[['prime_genre', 'user_rating', 'rating_count_tot', 'price']]
Apple.head(3)

    prime_genre  user_rating  rating_count_tot  price
0         Games          4.0             21292   3.99
1  Productivity          4.0            161065   0.00
2       Weather          3.5            188583   0.00